section {
	height: 100vh;
	padding: 20px;
	background-image: url("../assets/search_page.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.search-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #2228316a;
	backdrop-filter: blur(10px);
	border-radius: 20px;
	margin-top: 30px;
	border: 1px solid #eeeeee;
	box-shadow: 2px 4px 8px #eeeeee85;
	color: #eeeeee;
}

.search-form div {
	width: 100%;
}

.search-form .heading {
	font-size: 40px;
	padding: 10px 20px;
	text-align: center;
	width: 100%;
	text-shadow: 2px 2px 8px #00000076;
	border-bottom: 1px solid #eeeeee;
}

.search-form .inputs {
	text-shadow: 2px 2px 8px #00000076;
	margin-top: 20px;
	padding: 10px 40px;
	margin-bottom: 20px;
}

.input {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	width: 100%;
	padding: 10px 30px;
}

label {
	display: block;
	font-size: large;
}

.radio-btns {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.radio-btns input {
	cursor: pointer;
}

.text-input {
	height: 40px;
	min-width: 300px;
	border-radius: 15px;
	padding: 7px 10px;
	outline: none;
	border: 1px solid black;
	color: #222831;
	font-size: large;
	cursor: pointer;
}

.date-input {
	height: 40px;
	min-width: 300px;
	border-radius: 15px;
	padding: 7px 10px;
	outline: none;
	border: 1px solid black;
	color: #222831;
	font-size: large;
	background-color: #eeeeee;
}

.submit {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.submit input {
	background-color: #00747a;
	color: #eeeeee;
	cursor: pointer;
	border: 1px solid #eeeeee;
	height: 50px;
	width: 150px;
	border-radius: 25px;
	font-size: large;
	font-weight: 600;
	outline: none;
	transition: all 0.3s ease-in-out;
}

.submit input:hover {
	scale: 1.08;
	background-color: #06959f;
}

.watermark {
	position: fixed;
	left: 0;
	bottom: 0;
	color: #eeeeee;
	padding: 6px;
}

@media (max-width: 800px) {
	.nav-links {
		display: none;
	}

	.search-form input {
		max-width: 300px;
	}

	.radio-btns {
		flex-direction: column;
		justify-items: center;
		padding-left: 20px;
	}

	.input {
		grid-template-columns: 1fr;
	}
}

.hidden {
	display: none;
}

.show {
	display: flex;
}

.output-container {
	width: 100%;
	min-height: 80%;
	flex-direction: column;
	align-items: center;
	background-color: #2228316a;
	backdrop-filter: blur(10px);
	border-radius: 20px;
	border: 1px solid #eeeeee;
	box-shadow: 2px 4px 8px #eeeeee85;
	color: #eeeeee;
	font-size: x-large;
}

.output {
	width: 100%;
	text-align: center;
	height: 100%;
}

.output h2 {
	padding-top: 30px;
	border: none;
	width: 100%;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	border-bottom: #eeeeee;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#trip-list {
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-items: center;
}

#trip-list li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;
	width: 100%;
	margin-top: 10px;
	background-color: #0a5f62;
	border-radius: 20px;
}

#trip-list li div {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	padding: 20px;
}

#trip-list li div button {
	height: 50px;
	width: 150px;
	border-radius: 25px;
	outline: none;
	border: 1px solid #eeeeee;
	background-color: #044246;
	cursor: pointer;
}

#trip-list li div button:hover {
	scale: 1.04;
	opacity: 0.8;
}
