#page {
	height: 100vh;
	padding: 20px;
	background-image: url("../assets/hero_image.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.search {
	position: relative;
	z-index: 1;
}

.search input {
	height: 50px;
	width: 600px;
	border-radius: 30px;
	padding: 7px 19px;
	color: #222831;
	font-size: large;
	outline: none;
	border: 3px solid #222831;
	box-shadow: 6px 3px 30px #09b0fd;
}

.search button {
	position: absolute;
	right: 0;
	top: 3px;
	height: 44px;
	width: 70px;
	border-radius: 30px;
	outline: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 3px solid #222831;
	background-color: #00747a;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.search button:hover {
	background-color: #00696e;
}

.phrase {
	margin-top: -280px;
	color: #ffffff;
	font-size: 5rem;
	font-weight: bold;
	text-shadow: 9px 6px 50px #09b0fd;
	text-align: center;
	line-height: 100px;
}

.watermark {
	position: fixed;
	left: 0;
	bottom: 0;
	color: #222831;
	padding: 6px;
}

@media (max-width: 800px) {
	.nav-links {
		display: none;
	}

	.search input {
		max-width: 300px;
	}
}
